% Dependencies
{deps, [
  {protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs", {tag, "0.8.1"}}},
  {lager, "2.0.*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}}
]}.

% Set compiler flags
{erl_opts, [{parse_transform, lager_transform}]}.

% Cover
{cover_enabled, true}.
{cover_print_enabled, true}.

% Cleanup
{clean_files, ["*.eunit", "ebin/*.beam", "test/*.beam"]}.
